<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="husky">
  <!-- robot name parameter -->
  <!-- <xacro:arg name="name" default="" /> -->

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="namespace" default="" />
  <xacro:arg name="gazebo_controllers" default="$(find husky_control)/config/control.yaml" />

  <xacro:include filename="$(find husky_description)/urdf/husky_macro.urdf.xacro" />
  
  <xacro:include filename="$(find husky_description)/urdf/gazebo_control.xacro" />  
  
  <!-- Load husky description -->
  <xacro:husky prefix="$(arg prefix)" />
  <xacro:lidar prefix="$(arg prefix)" />


  <xacro:if value="$(arg is_sim)">


    <gazebo reference="$(arg prefix)imu_link">
      <sensor name="$(arg prefix)imu_sensor" type="imu">
      <plugin filename="libgazebo_ros_imu_sensor.so" name="$(arg prefix)imu_plugin">
          <ros>
            <namespace>$(arg prefix)</namespace>
            <remapping>~/out:=imu/data_raw</remapping>
          </ros>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
      </sensor>
    </gazebo>

    <gazebo reference="$(arg prefix)gps_link">
      <sensor name="$(arg prefix)gps_sensor" type="gps">
      <plugin filename="libgazebo_ros_gps_sensor.so" name="gps_plugin">
          <ros>
            <namespace>$(arg prefix)</namespace>
            <remapping>~/out:=gps/fix</remapping>
          </ros>
        </plugin>
        <always_on>true</always_on>
        <update_rate>10</update_rate>
      </sensor>
    </gazebo>

    <gazebo reference="$(arg prefix)base_lidar">
      <sensor name="$(arg prefix)lidar" type="ray">
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-1.8</min_angle>
              <max_angle>1.8</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.3</min>
            <max>30.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="$(arg prefix)lidar" filename="libgazebo_ros_ray_sensor.so">
          <output_type>sensor_msgs/LaserScan</output_type>
          <ros>
            <namespace>$(arg prefix)</namespace>
            <remapping>~/out:=scan</remapping>
          </ros>
          <frame_name>$(arg prefix)base_lidar</frame_name>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:if>

  <!-- Optional custom includes. -->
  <xacro:include filename="$(arg urdf_extras)" />

</robot>
